# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.pdf

# VSCode & Mac system files (since you're on Mac)
.vscode/
.DS_Store

# Hidden files
*.swp